.header-container {
    background: rgba(30, 42, 52, 0.7);
    position: absolute;
    width: 100%;
    z-index: 10;
}

.navbar .link:hover {
    text-decoration: underline var(--fourth-color);
    text-underline-offset: 5px;
}
.logo {
    width: 100px;
    height: 100px;
}

.hamburger-btn {
  display: none;
  background: transparent;
  color: var(--third-color);
  border: none; 
  cursor: pointer;
  z-index: 20;
}
